---
import Layout from "../layouts/Layout.astro";
import TopFrameworkContributors from "../components/TopFrameworkContributors.astro";

export const prerender = false;

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=0, must-revalidate",
);
// Only update the CDN cache if it's older than 24 hours
Astro.response.headers.set(
  "Netlify-CDN-Cache-Control",
  "public, max-age=86400, stale-while-revalidate=604800",
);
---

<Layout title="Frameworkers">
  <main class="page">
    <header class="hero">
      <h1>Frame<span class="text-gradient">workers</span></h1>
      <p class="subhead">The top contributors to front-end frameworks</p>
    </header>
    <TopFrameworkContributors githubToken={import.meta.env.GITHUB_API_TOKEN} />
  </main>
  <footer class="site-footer">
    <a
      class="icon-link"
      href="https://github.com/serhalp/frameworkers"
      aria-label="View source on GitHub"
    >
      <img src="/github-logo.png" alt="" />
    </a>
  </footer>
</Layout>

<style>
  main.page {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
</style>
