---
import Layout from '../layouts/Layout.astro';
import TopFrameworkContributors from '../components/TopFrameworkContributors.astro';
---

<Layout title="Frameworkers">
	<main>
		<h1>Frame<span class="text-gradient">workers</span></h1>
		<h2>The top contributors to front-end frameworks</h2>
		<TopFrameworkContributors githubToken={import.meta.env.GITHUB_API_TOKEN} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.25em;
	}
	h2 {
		font-size: 1.5rem;
		text-align: center;
		font-style: italic;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
